
.flexRow{
    display: flex;
    flex-flow: row;
}

.flexCol{
    display: flex;
    flex-flow: column;
}

body{
    width: 100vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

svg{
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkgreen;
    font-weight: 700;
    justify-content: center;
    padding: 8px;
}

#legend{
    justify-content: center;
    padding-bottom: 15px;
    width: 35%;
}

.category{
    width: 33%;
}

.section{
    width: 50%;
    margin: 5px;
    font-weight: 700;
}

.gallery{
    width: 83vw;
    height: 83vh;
}

.gallery-cell {
    width: 100%;
  }

.mapContainer{
    justify-content: center;
    align-items: center;
}

.mapTitle{
    color: black;
    font-weight: 700;
    font-size: 18px;
}

#badColor{
    background-color: red;
}

#averageColor{
    background-color: #ffdd00;
}

#goodColor{
    background-color: green;
}

#Antarctica-happySVG,#Antarctica-gdpSVG,#Antarctica-socialSVG,#Antarctica-lifeSVG,#Antarctica-freedomSVG,#Antarctica-generositySVG,#Antarctica-corrSVG{
    display: none;
}
#Bermuda-happySVG,#Bermuda-gdpSVG,#Bermuda-socialSVG,#Bermuda-lifeSVG,#Bermuda-freedomSVG,#Bermuda-generositySVG,#Bermuda-corrSVG{
    display: none;
}

.flickity-button {
    background-color: rgb(224, 224, 224) !important;
}

.flickity-prev-next-button {
    width: 48px !important;
    height: 48px !important;
}

.flickity-viewport{
    height:100vh !important;
}